.App {
    height: 100vh;
    background-image:linear-gradient(0deg, white 30%, red 30%,red 40%,blue 50%,blue 60%, white 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}
.carousel {
    width: 40%;
    height: 700px;
}

img {
    border-radius:50px;
}

.d-block {
    width: 90%;
    height: 700px;
}

.btn {
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid black;
}
